@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwindcss-motion";

@utility flex-center{
  @apply flex justify-center items-center
}

@layer utilities {
  .hover-gradient {
    @apply transform transition-all ease-in duration-150;
  }

  .hover-gradient:hover {
    @apply text-pink-600 scale-105 -translate-y-1
  }

  .text-nav{
    @apply flex-center font-semibold  flex-col transition-all ease-in duration-100 cursor-pointer;
  }
  .text-nav::after{
    @apply content-[''] h-[2px] w-0 bg-gradient-to-r from-blue-600 to-purple-600 rounded-2xl transition-all ease-in duration-100 ;
  }
  .text-nav:hover{
    @apply after:w-full bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent;
  }
  .gradient-shadow {
    position: relative;
    z-index: 1;
    
  }

  .gradient-shadow::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, #2563eb, #9333ea, transparent);
    filter: blur(12px);
    border-radius: inherit;
    animation: fadeGlow 2s ease-in-out infinite;
  }

  .card-animated {
    @apply relative z-[1] transition-all motion-ease-in-cubic duration-150;

    /* Hover movement */
  }
  .card-animated:hover {
    @apply -translate-y-4;
  }

  /* Glow layer */
  .card-animated::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(135deg, #2563eb, #9333ea, transparent);
    filter: blur(12px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  /* Glow visible on hover */
  .card-animated:hover::after {
    opacity: 0.5;
  }

  .btn-anim{
    @apply transition-all ease-in duration-100
  }
  .btn-anim:hover{
    @apply scale-105
  }
  .btn-anim:active{
    @apply scale-95;
  }

  .bg-gradient{
    @apply bg-gradient-to-r from-blue-600 to-purple-600
  }
  .bg-gradient-fade{
    @apply bg-gradient-to-r from-blue-600/8 to-purple-600/8 backdrop-blur-md
  }
  .text-gradient {
    @apply bg-gradient-to-b from-blue-600 to-pink-600 bg-clip-text text-transparent
  }
  .text-gradient-2 {
    @apply bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent
  }
  .bg-gradient-fade-20{
    @apply bg-gradient-to-r from-blue-600/20 to-purple-600/20 backdrop-blur-md
  }
}

@keyframes fadeGlow {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
}
